<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sample Crud Django</title>
  </head>
  <body>
    <h1>Sample Crud Django</h1>
    {% block content%}

    {% endblock %}
  </body>
</html>
