{% extends 'base/base.html' %}
{% block content%}

<a href="{% url 'Create' %}">Tambah Data Baru</a>
<hr>
<ul>
  {% for data in datasiswa %}
  <li>{{ data.pk }}</li>
  <li>{{ data.nama_siswa }}</li>
  <li>{{ data.kelamin }}</li>
  <li>{{ data.kelas }}</li>
  <li>{{ data.alamat }}</li>
  <li><a href="{% url 'Update' pk=data.pk%}">Update</a> | <a href="{% url 'Delete' pk=data.pk %}">Delete</a></li>
  <br>
  {% endfor %}
</ul>
{% endblock %}
