{% extends 'base/base.html'%}
{% block content %}
  <form action="{% url 'Create' %}" method="post"> {% csrf_token %}
    <input type="text" name="nama_siswa">
    <select class="" name="kelamin">
      <option value="L">Laki-laki</option>
      <option value="P">Perempuan</option>
    </select>
    <select class="" name="kelas">
      {% for data in datakelas %}
        <option value="{{ data.pk }}">{{ data.nama_kelas }}</option>
      {% endfor %}
    </select><br>
    <textarea name="alamat" rows="8" cols="80"></textarea><br>
    <button type="submit">Submit</button>
  </form>
{% endblock %}
