{% extends 'base/base.html' %}
{% block content %}
<form action="{% url 'Update' pk=datasiswa.pk %}" method="post"> {% csrf_token %}
  <input type="text" name="nama_siswa" value="{{ datasiswa.nama_siswa }}">
  <select class="" name="kelamin">
    <option value="{{ datasiswa.kelamin }}">Kelamin saat ini : {{ datasiswa.kelamin }}</option>
    <option value="L">Laki-laki</option>
    <option value="P">Perempuan</option>
  </select>
  <select class="" name="kelas">
    <option value="{{ datasiswa.kelas.pk }}">Kelas saat ini : {{ datasiswa.kelas.nama_kelas }}</option>
    {% for data in datakelas %}
      <option value="{{ data.pk }}">{{ data.nama_kelas }}</option>
    {% endfor %}
  </select><br>
  <textarea name="alamat" rows="8" cols="80"> {{ datasiswa.alamat }} </textarea><br>
  <button type="submit">Submit</button>
</form>
{% endblock %}
